header.header
    .header__banner
        .wrapper
            p Посетите наш гипермаркет детских колясок, автокресел и кроваток. Более 
                span 500 моделей 
                | известных брендов!
            a(href="#") 
                span Перейти
                <svg width="35" height="16" viewBox="0 0 35 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.7071 7.29289C35.0976 7.68342 35.0976 8.31658 34.7071 8.70711L28.3431 15.0711C27.9526 15.4616 27.3195 15.4616 26.9289 15.0711C26.5384 14.6805 26.5384 14.0474 26.9289 13.6569L32.5858 8L26.9289 2.34315C26.5384 1.95262 26.5384 1.31946 26.9289 0.928932C27.3195 0.538408 27.9526 0.538408 28.3431 0.928932L34.7071 7.29289ZM0 7L34 7V9L0 9L0 7Z" fill="white"/>
                </svg>
    .header__top.wrapper
        a(href="#").header__link
            img(src="./images/icon/arrow.svg", alt="arrow")
            | Вернуться в интернет-магазин
        a(href="./").logo-small
            img(src="./images/icon/logo-small.svg", alt="logo")
        span.city Рязань
            img(src="./images/icon/city.svg", alt="city")
        .contact
            a(href="tel:+74912770707") +7 (4912) 77-07-07
            a(href="#") Заказать обратный звонок
    .header__mobile
        .wrapper
            a(href="./").logo
                img(src="./images/icon/logo-small.svg", alt="logo")
            input(type="checkbox")
            span
            span
            span
        .header__menu.wrapper
            a(href="#").header__link
                img(src="./images/icon/arrow.svg", alt="arrow")
                | Вернуться в интернет-магазин
            .city Рязань
                img(src="./images/icon/city.svg", alt="city")
            .contact
                a(href="tel:+74912770707") +7 (4912) 77-07-07
                a(href="#") Заказать обратный звонок
section.banner
    a(href="./").logo
        img(src="./images/icon/logo.svg", alt="logo")
    h2 
        | Более  
        span 500 
        | моделей известных брендов
    .banner__btns
        a(href="#") Подробнее
        a(href="#") Адреса и время работы
section.info
    .info__wrap.wrapper
        .info__item
            .info__image
                img(src="./images/decor/kid-and-baby.svg", alt="kid")
            p Более 300 моделей колясок
        .info__item
            .info__image
                img(src="./images/decor/car-chair.svg", alt="chair")
            p Более 200 моделей автокресел и кроваток
        .info__item
            .info__image
                img(src="./images/decor/road.svg", alt="road")
            p Тест-драйв колясок и автокресел
        .info__item
            .info__image
                img(src="./images/decor/price.svg", alt="price")
            p Цена в интернет-магазине = цена в шоуруме
section.about
    .wrapper
        h2 
            span 1. 
            | Что такое КОМПАСИК и чем он отличается от обыкновенного магазина?
        p Новый формат шоу-румов КОМПАСИК— удобный выбор и покупка коляски. В отличие от других магазинов, здесь на площади в 1000 квадратных метров представлено 300 моделей.
section.models
    .wrapper
        h2 
            span 2. 
            span.red 300 моделей колясок 
            | – это правда много?
        p Да, очень. Это почти все модели колясок, которые можно купить в Рязани. Все они собраны в одном месте, чтобы было удобноn выбирать.
    .albom
        .albom__image
            img(src="./images/decor/image-1.jpg", alt="image")
        .albom__image
            img(src="./images/decor/images-2.jpg", alt="image")
    .license
        .wrapper
            h3 Мы официальные дистрибьютеры более 200 торговых марок в России
            .license__wrap
                .license__image
                    img(src="./images/decor/license.jpg", alt="license")
                .license__image
                    img(src="./images/decor/license.jpg", alt="license")
                .license__image
                    img(src="./images/decor/license.jpg", alt="license")
                .license__image
                    img(src="./images/decor/license.jpg", alt="license")
    .brands
        .wrapper
            h3 Бренды, представленные в нашем гипермаркете
            .brands__slider
                .brands__slide
                    img(src="./images/decor/brand-1.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-2.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-3.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-4.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-5.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-6.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-7.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-8.jpg", alt="brand")
                .brands__slide
                    img(src="./images/decor/brand-2.jpg", alt="brand")
section.consult
    .wrapper
        h2 
            span 3. 
            | Как выбрать из такого многообразия? Мне поможет консультант?
        p Конечно. Консультант поможет подобрать модель по вашим запросам и бюджету. Покажет её в зале и ответит на вопросы. Более того, в шоурумах КОМПАСИК оборудован специальный трек для тест-драйва вашей будущей покупки.
        .consult__video
            <iframe width="100%" height="447" src="https://www.youtube.com/embed/MvyX9w9mSOY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
section.test
    .wrapper
        h2
            span 4. 
            | Трек для тест-драйва коляски? Это как?
        p Это специальная трасса с имитацией разных покрытий, по которым вам предстоит перемещать коляску в повседневной жизни: газон, гравий, тротуарная плитка и даже лежачий полицейский (часто бывает во дворах). Трек оборудован прямо в зале магазина. До него не нужно куда-то специально идти.
    .albom
        .albom__image
            img(src="./images/decor/image-1.jpg", alt="image")
        .albom__image
            img(src="./images/decor/images-2.jpg", alt="image")
section.buy
    .wrapper
        h2
            span 5. 
            | Как купить, если я выбрал коляску?
        p Можно купить прямо в магазине и забрать коляску домой на своём транспорте (мы поможем донести и погрузить покупку до парковки). Если особая модификация или цвет, то консультант оформит заказ. На следующий день коляску доставят в удобный для вас шоурум в городе. При желании, можно воспользоваться курьерской доставкой до двери по вашему адресу.
section.more
    .wrapper
        h2
            span 6. 
            | Кстати, а кроме колясок что-то ещё продается, например, 
            span.red детские автокресла?
        p Да. Кроме колясок в магазине представлено 200 моделей детских автокресел, мебель, манежи и стульчики для кормления.
    .albom
        .albom__image
            img(src="./images/decor/image-3.jpg", alt="image")
        .albom__image
            img(src="./images/decor/image-4.jpg", alt="image")
section.sale
    .wrapper
        h2
            span 7. 
            | А можно получить скидку?
        p Вообще-то, да. Отправьте нам свою электронную почту и получите скидку 5% на любую покупку в магазине.
section.form
    .wrapper
        h2 
            span 8. 
            | Что ещё важно знать о гипермаркете КОМПАСИК?
        p Вы можете воспользоваться любым удобным для вас способом доставки: зарезервировать товар в шоуруме или заказать курьерскую доставку. А так же работает бонусная программа. Если у вас остались еще вопросы, мы с радостью на них ответим — пишите нам.
        form(action="#")
            .form__col
                label Как к вам обращаться?
                input(type="text", name="name", placeholder="Например, Анна")
            .form__col
                label Ваш электронный адрес
                input(type="email", name="mail", placeholder="example@mail.ru")
            .form__col
                label Задайте ваш вопрос
                textarea(name="text", cols="30", rows="10")
            .form__btn
                input(type="checkbox", name="check")#check
                label(for="check") Я даю согласие на 
                    a(href="#") обработку персональных данных
                input(type="submit", value="Отправить")
.btn-up
    img(src="./images/icon/btn-up.svg", alt="button")
footer.footer
    .wrapper
        .footer__contacts
            p 390027, г. Рязань., 
                span улица 12-й район, д. 131
            p 
                span ТЦ «Солнечный» 
                | (Лента Борки) 
            p Отдельный вход. 10 метров левее от центрального
            .time
                p Режим работы
                span Понедельник — пятница: с 10:00 до 19:00
                span Суббота — воскресенье: с 10:00 до 18:00
                span Без обеда и выходных
            .phone
                p Телефон
                a(href="tel:+74912770707") +7 (4912) 77-07-07
            .mail
                p E-mail
                a(href="mailto:zakaz@kompasik.ru") zakaz@kompasik.ru, 
                a(href="mailto:director@kompasik.ru") director@kompasik.ru
    .map
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9fe3d5b1045d03b64b7b13497fb8b759b9f51d09d17cc55e3ef75dec6e053115&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
    .footer__bottom
        .wrapper
            .footer__info
                a(href="./").logo-small-mobile
                    img(src="./images/icon/logo-small.svg", alt="logo")
                a(href="#").footer__link
                    img(src="./images/icon/arrow.svg", alt="arrow")
                    | Вернуться в интернет-магазин
                a(href="./").logo-small
                    img(src="./images/icon/logo-small.svg", alt="logo")
                .footer__social
                    a(href="#").vk
                        img(src="./images/icon/vk.svg", alt="vk")
                    a(href="#").ok
                        img(src="./images/icon/ok.svg", alt="ok")
                    a(href="#").instagram
                        img(src="./images/icon/instagram.svg", alt="instagram")
                    a(href="#").youtube
                        img(src="./images/icon/youtube.svg", alt="youtube")
            .footer__text
                .footer__copyright
                    p Компасик.ру © 2020 
                        a(href="#") Политика конфиденциальности
                    p 
                        a(href="mailto:example@gmail.com") example@gmail.com 
                        | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
                .footer__links
                    div
                        a(href="#") Создание сайтов
                        a(href="#") Продвижение сайтов
                    a(href="#") 
                        img(src="./images/icon/kontur.svg", alt="kontur")